.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.action-buttons button {
  width: 150px;
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.action-buttons button:first-child {
  background: #342e68;
  border-radius: 20px;
  height: 40px;
  color: white;
}

.action-buttons button:last-child {
  background: none;
  border: 2px solid #342e68;
  border-radius: 20px;
  color: #342e68;
}
